<%- include("partials/Header.ejs") %>
<h1>About Us</h1>
<p>
    Welcome to [Your Online Exam Portal Name]! We are dedicated to providing a seamless and efficient platform for conducting exams online. With a user-friendly interface and advanced features, we aim to revolutionize the way exams are administered and taken. Our team is committed to ensuring the integrity and security of the exam process while offering convenience and flexibility to both administrators and test-takers.
</p><%-include("partials/footer.ejs")%>