<%- include("partials/Header.ejs") %>
<h1>Contact Us</h1>
<p>Have questions or need assistance? Feel free to reach out to us using the contact information below:<br>
    Email: [Your Email Address]<br>
    Phone: [Your Phone Number]<br>
    Address: [Your Physical Address, if applicable]<br>
    Support Hours: [Your Support Hours]</p>
    <%-include("partials/footer.ejs")%>