<%- include("partials/Header.ejs") %>
<h1>Services Provided</h1>

<p> Exam Creation and Management: Easily create and manage exams with our intuitive interface. Set up various question types, time limits, and scoring options to customize the exam according to your needs.
    Secure Exam Delivery: Ensure the integrity of exams with our secure delivery system. Prevent cheating and unauthorized access with advanced security measures.
    Real-time Monitoring: Monitor exams in real-time with live proctoring and monitoring features. Detect suspicious behavior and intervene when necessary to maintain exam integrity.
    Scoring and Analytics: Automatically score exams and generate detailed analytics to gain insights into test performance. Identify strengths and weaknesses to improve future exams.
    Customization and Branding: Customize the portal with your branding elements to create a seamless experience for your users. Add your logo, colors, and themes to align with your organization's branding.</p>
    <%-include("partials/footer.ejs")%>